name: Deploy FE to Firebase Hosting

on:
    push:
        branches:
            - master

jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout source
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Create .env.production
              run: |
                  echo "VITE_CONVEX_DEPLOYMENT=${{ secrets.CONVEX_DEPLOYMENT }}" >> .env.production
                  echo "VITE_CLERK_PUBLISHABLE_KEY=${{ secrets.CLERK_PUBLISHABLE_KEY }}" >> .env.production
                  echo "VITE_CONVEX_URL=${{ secrets.CONVEX_URL }}" >> .env.production
                  echo "VITE_FIREBASE_API_KEY=${{ secrets.FIREBASE_API_KEY }}" >> .env.production
                  echo "VITE_PAYOS_API_KEY=${{ secrets.PAYOS_API_KEY }}" >> .env.production
                  echo "VITE_PAYOS_CLIENT_KEY=${{ secrets.PAYOS_CLIENT_KEY }}" >> .env.production
                  echo "VITE_PAYOS_CHECKSUM_KEY=${{ secrets.PAYOS_CHECKSUM_KEY }}" >> .env.production
                  echo "VITE_PAYOS_CHECKOUT_URL=${{ secrets.PAYOS_CHECKOUT_URL }}" >> .env.production
                  echo "VITE_PAYOS_RETURN_URL=${{ secrets.PAYOS_RETURN_URL }}" >> .env.production
                  echo "VITE_PAYOS_CANCEL_URL=${{ secrets.PAYOS_CANCEL_URL }}" >> .env.production
                  echo "NODE_ENV=production" >> .env.production

            - name: Install dependencies
              run: npm install

            - name: Build project
              run: npm run build

            - name: Install Firebase CLI
              run: npm install -g firebase-tools

            - name: Deploy to Firebase Hosting
              run: firebase deploy --only hosting
              env:
                  FIREBASE_TOKEN: ${{ secrets.FIREBASE_CI_LOGIN_TOKEN }}
